<% @events.each do |event| %>
        <div class="span3">
                <h4><%= link_to event.name, event%></h4>
                <%= event.date %><br>
                <%= link_to 'Notes', event_notes_path(event) %>
<br>            <%= link_to 'Add a Note', new_event_note_path(event) %>
        </div>





<% end %>
