<div class="hero-unit">
    <h2>SXSWfomo</h2>
    <small>Tracking Notes For All SXSW Events!</small>
    <br>
    <a class="btn btn-primary btn-large" href="/events">Get Started!</a>
	<div class="row">
	
		<div class="span3">
			<small>Sign up!</small>
		</div>
                <div class="span3">
                	<small>Most Popular Events</small>
		</div>
                <div class="span3">
			<small>Most Popular Notes</small>
                </div>

	</div>

</div>
