

        <div class="row">

                <div class="span2">
                        <h3><%= link_to 'Sign up!', new_user_path %></h3>
                </div>
                <div class="span5">
                        <h3><%= link_to 'Most Popular Events', events_path%></h3>
                </div>
                <div class="span5">
                        <h3><%= link_to 'Most Popular Notes', notes_path %></h3>
                </div>

        </div>







<div class="hero-unit">
    <h2>Share Your Notes!</h2>
<div class="center">
::Post SXSW Notes::<br> 
::Learn From Others::<br> 
::Vote For Good Notes!:: <br> 
Freeing knowledge and solving the problem of overlapping sessions once and for all.
</div>    
</div>
