<h1>All notes</h1>

<% @notes.each do |note| %>
        <div class="span3">
                <h4><%= link_to note.name, event_notes_path(note.event, note) %></h4>
                <%= truncate(note.description, :length => 100, :separator => ' ', :omission => '...')  %>
        </div>
<% end %>



<%= render 'event_list' %>
