<div class="row">
        <h2>Users!</h2>
</div>

<div class="pull-left">
	<%= link_to 'Post notes! Vote! Sign up here!', new_user_path %>
</div>

<br>

<% @users.each do |user| %>
        <div class="span3">
                <h4><%= link_to user.name, user%></h4>
        	::link to notes this user posted::
	</div>
<% end %>

